<div class="base-body">

  <div class="padding-dashboard">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <a [routerLink]="['/usuario']">
          <div class="card">
            <div class="media-text-center">
              <span><i class="fa fa-user-circle-o f-size color-primary"></i></span>
            </div>
            <div class="user-text media-text-center">
              <p>Usuários</p>
            </div>
            <div class="user-text-detail media-text-center">
              <p>Cadastro e consulta de usuários</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
        <a [routerLink]="['/medico']">
          <div class="card">
            <div class="media-text-center">
              <span><i class="fa fa-user-md f-size color-primary"></i></span>
            </div>
            <div class="user-text media-text-center">
              <p>Médicos</p>
            </div>
            <div class="user-text-detail media-text-center">
              <p>Cadastro e consulta de médicos</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
        <a [routerLink]="['/paciente']">
          <div class="card">
            <div class="media-text-center">
              <span><i class="fa fa-users f-size color-primary"></i></span>
            </div>
            <div class="user-text media-text-center">
              <p>Pacientes</p>
            </div>
            <div class="user-text-detail media-text-center">
              <p>Cadastro e consulta de pacientes</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <a [routerLink]="['/agendamento']">
          <div class="card">
            <div class="media-text-center">
              <span><i class="fa fa-calendar f-size color-primary"></i></span>
            </div>
            <div class="user-text media-text-center">
              <p>Agendamentos</p>
            </div>
            <div class="user-text-detail media-text-center">
              <p>Cadastro e consulta de agendamentos</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
        <a [routerLink]="['/cid']">
          <div class="card">
            <div class="media-text-center">
              <span><i class="fa fa-address-book-o f-size color-primary"></i></span>
            </div>
            <div class="user-text media-text-center">
              <p>CID</p>
            </div>
            <div class="user-text-detail media-text-center">
              <p>Classificação Estatística Internacional de Doenças e Problemas Relacionados com a Saúde</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
        <a [routerLink]="['/atestado']">
          <div class="card">
            <div class="media-text-center">
              <span><i class="fa fa-file-text f-size color-primary"></i></span>
            </div>
            <div class="user-text media-text-center">
              <p>Atestado</p>
            </div>
            <div class="user-text-detail media-text-center">
              <p>Atestado Médico</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
